.basket-icon{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 120px;
	color: #ed174a;
    padding: 30px;
    cursor: pointer;
}


.basket-title{
	display: flex;
	justify-content: center;
	font-size: 13px;
	color: #ed174a;
    padding: 20px;
}
.basket-button{
	display: flex;
	justify-content: center;
    padding: 20px;
	
}

.basket-btn{
	background-color: #233a95;
	color: white;
	border: none;
	width: 172px;
	height: 50px;
	cursor: pointer;
	border-radius: 100px;
}

