.flex-box{
	display: flex;
	width: 1000px;
	margin: 20px auto;
}

.left{
	width: 50%;
}

.big-img{
	width: 250px;
}
.big-img img{
	width: inherit;
}

.images{
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin-top: 15px;
}

.small-img{
	width: 50px;
	overflow: hidden;
	border: 1.5px solid black;
}

.small-img img{
	width: inherit;
	cursor: pointer;
	transform: all 0.3s ease;

}

.small-img:hover img{
	transform: scale(1.2);
}



.product-detail{
    width: 1170px;
    height: 757px;
    margin-left: 20%;
    padding: 20px;
}

