* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #3e445a;
}

.phone {
    color: #2bbef9;
}


.header-first {
    background-color: rgb(11, 11, 145);
    color: whitesmoke;
    text-align: center;
    height: 25px;

}


.header-start {
    display: flex;
    gap: 65px;
    font-size: medium;
    margin-left: 8%;

}

.ul-about {
    display: flex;
    padding: 8px;
    gap: 10px;
    margin-left: 30px;
}

a:hover {
    color: #2bbef9;
}

.about-right-context {
    display: flex;
    padding: 8px;


}

.header-about-context {
    display: flex;
    padding: 8px;

}

.header-about-settings {
    display: flex;

}



.btn {

    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: small;
}

.header-language {
    position: relative;
    display: inline-block;

}

.language {
    color: #2bbef9;
    display: none;
    position: absolute;
    background-color: white;

    width: 107px;
    height: 122px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.language a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.header-language:hover .language {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fade-in-move-down 0.8s;

}

@keyframes fade-in-move-down {
    0% {
        opacity: 0;
        transform: translateY(0rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
}





.btn-usd {

    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: small;
}

.header-money {
    position: relative;
    display: inline-block;
}

.money-list {

    display: none;
    position: absolute;
    background-color: white;

    width: 107px;
    height: 122px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.money-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.header-money:hover .money-list {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fade-in-move-down 0.8s;

}

@keyframes fade-in-move-down {
    0% {
        opacity: 0;
        transform: translateY(0rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
}

.nav-search input[type="text"] {
    width: 553px;
    height: 60px;

}

.start-navbar {
    display: flex;
    margin-left: 10%;
}

.img-logo {
    width: 150px;
    cursor: pointer;
}

.navbar-logo p {

    opacity: .5;
    cursor: pointer;
}


.location {
    margin-left: 5%;
    border: 2px solid #d9d9e9;
    border-radius: 15px;
    padding: 18px;
}

.location p {
    opacity: .5;
    font-size: small;
}

.location span {
    color: #233a95;
    font-size: small;
}

.nav-search {
    width: 100%;
    position: relative;
    display: flex;
}

.search-bar {
    margin-left: 65px;
    border: 3px solid #f3f4f7;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: #f3f4f7;
}

.search-button {
    width: 40px;
    height: 36px;
    border: 1px solid #f3f4f7;
    background: #f3f4f7;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.nav-search i {
    position: absolute;
    right: 20px;
    top: 20px;
}

.button-user {
    display: flex;
    font-size: 40px;
    margin-left: 25px;
    margin-top: 5px;
    cursor: pointer;
}

.basket-piece {
    display: flex;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;

}

.basket {

    color: red;
    margin-left: 15px;
    cursor: pointer;
}


.categories {
    display: flex;
}

.nav-list {
    display: flex;

    margin-left: 10%;

}

.category-list {
    border: 2px solid #2bbef9;
    background-color: #2bbef9;
    border-radius: 30px;
    padding: 20px;
    color: white;
    font-size: small;
    margin-left: 11%;
    margin-top: 20px;
    cursor: pointer;
}

/* 
li:hover {
    color: #2bbef9;
} */



.btn-home {
    background-color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

.home {
    display: inline-block;
    position: relative;
    margin-left: 20%;
    white-space: nowrap;
    height: 50px;

}

.home-list {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.home-list li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.home-list li:hover {
    color: #2bbef9;
    cursor: pointer;
}

.home:hover .home-list {
    display: block;
}


.home:hover .btn-home {
    background-color: white;
}




.btn-shop {
    background-color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

.shop {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    height: 50px;

}

.shop-list {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -300px;
}

.shop-list li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.shop-list li:hover {
    color: #2bbef9;
    cursor: pointer;
}

.shop:hover .shop-list {
    display: block;
}

.shop:hover .btn-shop {
    background-color: white;
}

.meats-seafood p {
    white-space: nowrap;
    margin-top: 40px;
    margin-left: 5%;
    cursor: pointer;
}

.bakery {
    white-space: nowrap;
    margin-top: 40px;
    margin-left: 5%;
    cursor: pointer;
}

.beverages {
    white-space: nowrap;
    margin-top: 40px;
    margin-left: 5%;
    cursor: pointer;
}

.blog {
    white-space: nowrap;
    margin-top: 40px;
    margin-left: 5%;
    cursor: pointer;
}

.contact {
    white-space: nowrap;
    margin-top: 40px;
    margin-left: 5%;
    cursor: pointer;
}

.sub-element {
    margin-left: 30px;

}

.shop-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}



/* SLIDER START */

.owl-carousel {
    width: 100%;
    height: 80vh;
}

.slide {
    width: 100%;
    height: 75vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: rgb(0, 0, 0, 0.5); */
}

.slide-1 {
    background-image: url(../img/slider-image-6.jpg);
}

.slide-2 {
    background-image: url(../img/slider-image-7.jpg);
}

.slide-content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    /* padding: 0 20%; */
    padding: 1rem 0;
    line-height: 1.5;
}

.slide-content h3 {
    font-size: 3.4rem;
    color: #333;

}

.slide-content p {
    font-family: "Lato", serif;
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.5;
}

.slide-content button {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: #2bbef9;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    border: 0;
}

.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 1%;
}

.owl-dots span {
    width: 20px !important;
    height: 20px !important;
}

.owl-dots button {
    border: none !important;
    outline: none !important;
}


.owl-nav button {
    border: none !important;
    outline: none !important;
}


.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 60px !important;
    font-weight: bolder !important;
}

.owl-prev {
    left: 1%;
}

.owl-next {
    right: 1%;
}

/* SLIDER END */



/* CATEGORY IMAGE LIST */

.category-image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 12%;
    /* border: 5px solid red; */

}

.categories-image-list {
    width: 50%;
    height: 300px;
    /* margin-left: 50%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.flex-item {
    flex: 1 1 80px;
    /* border:  2px solid gray; */
}

.flex-item img {
    width: 80px;
    height: 80px;
}

.flex-item h2 {
    font-size: 15px;
    color: black;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
}

.flex-item h2 {
    font-size: 15px;

}

.categories-image {
    width: 30%;
    height: 300px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    /* border: 1px solid gray; */
}

.category-image {
    padding: 15px 100px;

}

.category-image img {
    width: 192px;
    height: 192px;
}

.category-image h2 {
    font-size: 15px;
    color: black;
    z-index: 1;
    margin-left: 20%;
}

.category-image p {
    font-size: 15px;
    padding: 8px;
    margin-left: 20%;

}

/* CATEGORY IMAGE LIST END */


/* PRODUCT LIST START */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 300ms ease-in-out;
    width: 343px;
    height: 606px;
    border: 3px solid red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.li {
    list-style-type: none;
}

.start-list {
    padding-left: 0;

}

.icon-star {
    display: inline-block;
    color: yellow;
}

.piece {
    display: flex;
}

.piece p {
    color: red;
}

.piece del {
    opacity: 0.3;
}


#timer {
    display: flex;
    font-size: 1.25em;
    font-weight: 10;
    color: white;
    /* padding: 15px; */
    color: white;

}

.date p {
    opacity: 0.3;
    text-align: start;
    font-size: 15px;
}

#timer div {
    display: inline-block;
    width: 20%;
    padding: 15px;
    background: red;
    border-radius: 10px;
    /* border: 2px solid #030d52; */
    margin: 15px;
}

#timer div span {
    color: #ffffff;
    display: block;
    margin-top: 15px;
    font-size: .35em;
    font-weight: 400;
}

.wrapper {
    width: 330px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    margin-bottom: 5px;
}

.skill {
    margin-bottom: 35px;
    position: relative;
    overflow-x: hidden;

}

.skill>p {
    font-size: 18px;
    font-weight: 700;
    color: #1a1716;
    margin: 0;
}

.skill:before {
    width: 100%;
    height: 10px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}

.skill-bar {
    width: 100%;
    height: 10px;
    background: #f4392f;
    display: block;
    position: relative;
}

.skill-bar span {
    position: absolute;
    border-top: 5px solid #f4392f;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}

.skill-bar {
    position: relative;
}

.skill1 .skill-count1 {
    right: 0;
}

.skill1 {
    width: 95%;
}

.date-text {
    font-size: 20px;
}

.date-text p {
    color: #2bbef9;
}

.date-text strong {
    color: blue;
}



.containers {
    width: 780px;
    /* height: 797px; */
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.containers .product-card {
    width: 248px;
    height: 227px;
    overflow: hidden;
    text-align: center;
    /* border: 1px solid gray; */

}

.containers .product-card .product-image {
    width: 242px;

}

.containers .product-card .product-image img {
    height: 187px;
}

.containers .product-card .product-image img:hover {
    transform: scale(1.1);

}

.product-info {
    width: 248px;
    height: 155px;
}

.containers .product-card .product-info h4 {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    padding: 0px 25px;
    margin-bottom: 10px;
}

.containers .product-card .product-info span {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    padding: 0px 25px;
    margin-bottom: 10px;

}

.product-list-card {

    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    margin-left: 9%;

}

/* PRODUCT LIST END */


/* BANNER START */

.banner {
    display: flex;
    padding: 20px;
    /* flex-wrap: wrap; */
}

.banner-image-1 {
    position: relative;
    text-align: start;
    color: black;
    width: 570px;
    height: 251px;
    margin-left: 8%;

}

.image-text {
    position: absolute;
    top: 30%;
    left: 16px;
}

.image-text-1 {
    color: red;
    cursor: pointer;

}

.image-text-2 {
    text-align: start;
    cursor: pointer;
}

.image-text-3 {
    cursor: pointer;
}

.banner-button-1 {
    background-color: #007bff;
    color: white;
    padding: 5px;
    width: 100px;
    border: none;
    cursor: pointer;
}

.banner-button-1 {
    border-radius: 90px;
}

.banner-image-2 {
    position: relative;
    text-align: start;
    color: black;
    width: 570px;
    height: 251px;
    margin-left: 8%;

}

.images-text {
    position: absolute;
    top: 30%;
    left: 16px;
}

.images-text-1 {
    color: red;
    cursor: pointer;

}

.images-text-2 {
    text-align: start;
    cursor: pointer;
}

.images-text-3 {
    cursor: pointer;
}

.banners-button-1 {
    background-color: rgb(219, 90, 112);
    color: white;
    padding: 5px;
    width: 100px;
    border: none;
    cursor: pointer;
}

.banners-button-1 {
    border-radius: 90px;
}


/* BANNER END */


/* SELLERS START */
.homeSlider {
    width: 1130px;
    height: 350px;
    margin-left: 15%;
    padding: 30px;
    /* background-color: red; */
}

.homeSlider-title h2 {
    font-size: 20px;
    font-family: "Dosis", sans-serif;

}

.homeSlider-title p {
    font-size: 12px;
    font-family: "Inter", sans-serif;
    opacity: 0.4;


}

.homeSlider img {
    width: 190px;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-prev,
.slick-next {
    top: 30%;
}



.item {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.homeSlider-item-image {
    position: relative;
    width: 234px;
    height: 190px;
    overflow: hidden;
}

.homeSlider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    left: 10px;
    top: 10px;
    text-transform: capitalize;
}

.homeSlider-btn {
    position: absolute;
    bottom: 10px;
    left: 42%;
    transform: translateX(-50%);
    padding: 0px 20px;
    width: 144px;
    height: 34px;
    font-size: 12px;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: yellow;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;

}

.item-info {
    width: 234px;
    height: 194x;
    padding: 0px 20px 20px;
}

.homeSlider-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.homeSlider-piece {
    font-weight: 900;
    font-size: 20px;
    margin-left: 13px;
}

.homeSlider-actual-price {
    opacity: 0.5;
    margin: 0px 0px 10px;
    text-decoration: line-through;
}

/* SELLERS END */

/* POSTER START */

.header-poster-h1 {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.header-poster-h1 {
    font-size: 1.2em;
    padding: 10px 0;
}

.header-poster {
    width: 1131px;
    margin-left: 15%;
    text-align: center;
    background: #FBEACF;
    color: black;
    margin-top: 22px;
}

/* POSTER END */



/* PRODUCT GALLERY */

h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

a {
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 710px;
    margin-left: 11%;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.content {
    width: 196px;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    transition: .4s;
    /* background-color: #f2f2f2; */
}

.content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.gallery-img {
    width: 193px;
    height: 172px;
    text-align: center;
    margin: 0 auto;
    display: block;
}


.gallery-title {
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}

h6 {
    font-size: 16px;
    text-align: center;
    color: #222f3e;
    margin: 0;
}

.gallery-ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.gallery-ul li {
    padding-top: 5px;
}

.fa {
    font-size: 26px;
    transition: .4s;
    /* margin: 3px; */
}

.fa-star {
    color: #ff9f43;
    font-size: 10px;
}

.product-gallery-button {
    text-align: center;
    font-size: 20px;
    color: #fff;
    width: 187px;
    height: 47px;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #233a95;
}

/* PRODUCT GALLERY END */


/* SECTION GALLERY START */

.section-galleries {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
    padding: 15px;
    justify-content: center;
    align-items: center;

}

.section-container img {
    width: 369px;
    height: 218px;
}


.section-container-title h2 {
    font-family: "dosis", sans-serif;
    color: #9b9bb4;
    font-size: 8px;
    margin: 10px;
}


.section-container-title p {
    font-family: "Inter", sans-serif;
    color: #202435;
    font-size: 18px;
    white-space: pre-line;
}

.section-container-date {
    display: flex;
    padding: 5px;
    /* white-space: nowrap; */
}

.section-container-date p {
    font-family: "inter", sans-serif;
    color: #71778e;
    font-size: 14px;
}

.section-container-date span {
    font-family: "inter", sans-serif;
    color: #202435;
    padding: 0px 10px;
    font-size: 14px;
}

.section-container-date h2 {
    font-family: "inter", sans-serif;
    color: #202435;
    padding: 0px 5px;
    font-size: 14px;
}

.section-context {
    position: relative;
    text-align: center;
}

.section-context-title {
    position: absolute;
    bottom: 100px;
    left: 10px;
}

.section-context-title p {
    color: #00b853;
    padding: 5px;
}

.section-context-title h2 {
    padding: 5px;

}

.section-context-title span {
    color: #71778e;

}


/* SECTION GALLERY END */

/* FOOTER START */

.footer-banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #233a95;
    padding: 2px;
}

.footer-form {
    position: relative;
}

.footer-form-title {
    color: white;

}

.footer-form-title span {
    white-space: pre-line;
    opacity: 0.3;
    font-size: 13px;
    font-family: "inter", sans-serif;
}

.footer-form-title p {
    font-family: "inter", sans-serif;
    padding: 5px;
}

.footer-form-title h2 {
    font-family: "inter", sans-serif;
    padding: 5px;
}

.footer-form-input input[type="email"] {
    width: 470px;
    height: 62px;
}

.footer-form-input input[type="submit"] {
    position: absolute;
    font-size: 15px;
    height: 54px;
    width: 102px;
    bottom: 4px;
    right: 4px;
    border: 0;
    background-color: #233a95;
    color: #fff;
}


.first-image {
    width: 510px;
    height: 277px;
    padding: 0 12%;

}



/* FOOTER ICON */

.footer-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 35px 0;
}

.footer-icon-product {
    display: flex;
    padding: 0px 15px;
}

.footer-icon-cargo {
    display: flex;
    padding: 0px 15px;
}

.footer-icon-discount {
    display: flex;
    padding: 0px 15px;
}

.footer-icon-coins {
    display: flex;
    padding: 0px 15px;
}


/* .fa-solid{
    padding: 0 15px;
  }

  .fa-brands{
    padding: 0 15px;
  } */
/* FOOTER ICON END */


/* FOOTER LIST START */
.dummy_page {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0px;
  }
  
  .footer {
    width: 100%;
    position: relative;
    height: auto;
  }
  .footer .col {
    width: 240px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h4 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }
  /* FOOTER LIST END */




  

