* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #3e445a;
}

.phone {
    color: #2bbef9;
}


.header-first {
    background-color: rgb(11, 11, 145);
    color: whitesmoke;
    text-align: center;
    height: 25px;

}


.header-start {
    display: flex;
    gap: 65px;
    font-size: medium;
    margin-left: 8%;

}

.ul-about {
    display: flex;
    padding: 8px;
    gap: 10px;
    margin-left: 30px;
}

a:hover {
    color: #2bbef9;
}

.about-right-context {
    display: flex;
    padding: 8px;


}

.header-about-context {
    display: flex;
    padding: 8px;

}

.header-about-settings {
    display: flex;

}



.btn {

    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: small;
}

.header-language {
    position: relative;
    display: inline-block;

}

.language {
    color: #2bbef9;
    display: none;
    position: absolute;
    background-color: white;

    width: 107px;
    height: 122px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.language a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.header-language:hover .language {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fade-in-move-down 0.8s;

}

@keyframes fade-in-move-down {
    0% {
        opacity: 0;
        transform: translateY(0rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
}





.btn-usd {

    background-color: transparent;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: small;
}

.header-money {
    position: relative;
    display: inline-block;
}

.money-list {

    display: none;
    position: absolute;
    background-color: white;

    width: 107px;
    height: 122px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

.money-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.header-money:hover .money-list {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fade-in-move-down 0.8s;

}

@keyframes fade-in-move-down {
    0% {
        opacity: 0;
        transform: translateY(0rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
}

.nav-search input[type="text"] {
    width: 553px;
    height: 60px;

}

.start-navbar {
    display: flex;
    margin-left: 10%;
}

.img-logo {
    width: 150px;
    cursor: pointer;
}

.navbar-logo p {

    opacity: .5;
    cursor: pointer;
}


.location {
    margin-left: 5%;
    border: 2px solid #d9d9e9;
    border-radius: 15px;
    padding: 18px;
}

.location p {
    opacity: .5;
    font-size: small;
}

.location span {
    color: #233a95;
    font-size: small;
}

.nav-search {
    width: 100%;
    position: relative;
    display: flex;
}

.search-bar {
    margin-left: 65px;
    border: 3px solid #f3f4f7;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: #f3f4f7;
}

.search-button {
    width: 40px;
    height: 36px;
    border: 1px solid #f3f4f7;
    background: #f3f4f7;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.nav-search i {
    position: absolute;
    right: 20px;
    top: 20px;
}

.button-user {
    display: flex;
    font-size: 40px;
    margin-left: 25px;
    margin-top: 5px;
    cursor: pointer;
}

.basket-piece {
    display: flex;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;

}

.basket {

    color: red;
    margin-left: 15px;
    cursor: pointer;
}


.categories {
    display: flex;
}

.nav-list {
    display: flex;

    margin-left: 10%;

}

.category-list {
    border: 2px solid #2bbef9;
    background-color: #2bbef9;
    border-radius: 30px;
    padding: 20px;
    color: white;
    font-size: small;
    margin-left: 11%;
    margin-top: 20px;
    cursor: pointer;
}

/* 
li:hover {
    color: #2bbef9;
} */



.btn-home {
    background-color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

.home {
    display: inline-block;
    position: relative;
    margin-left: 20%;
    white-space: nowrap;
    height: 50px;

}

.home-list {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.home-list li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.home-list li:hover {
    color: #2bbef9;
    cursor: pointer;
}

.home:hover .home-list {
    display: block;
}


.home:hover .btn-home {
    background-color: white;
}




.btn-shop {
    background-color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}

.shop {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    height: 50px;

}

.shop-list {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -300px;
}

.shop-list li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.shop-list li:hover {
    color: #2bbef9;
    cursor: pointer;
}

.shop:hover .shop-list {
    display: block;
}

.shop:hover .btn-shop {
    background-color: white;
}

.meats-seafood p {
    white-space: nowrap;
    margin-top: 40px;
    margin-left: 5%;
    cursor: pointer;
}

.bakery {
    white-space: nowrap;
    margin-top: 40px;
    margin-left: 5%;
    cursor: pointer;
}

.beverages {
    white-space: nowrap;
    margin-top: 40px;
    margin-left: 5%;
    cursor: pointer;
}

.blog {
    white-space: nowrap;
    margin-top: 40px;
    margin-left: 5%;
    cursor: pointer;
}

.contact {
    white-space: nowrap;
    margin-top: 40px;
    margin-left: 5%;
    cursor: pointer;
}

.sub-element {
    margin-left: 30px;

}

.shop-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}



/* SLIDER START */

.owl-carousel {
    width: 100%;
    height: 80vh;
}

.slide {
    width: 100%;
    height: 75vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: rgb(0, 0, 0, 0.5); */
}

.slide-1 {
    background-image: url(../img/slider-image-6.jpg);
}

.slide-2 {
    background-image: url(../img/slider-image-7.jpg);
}

.slide-content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    /* padding: 0 20%; */
    padding: 1rem 0;
    line-height: 1.5;
}

.slide-content h3 {
    font-size: 3.4rem;
    color: #333;

}

.slide-content p {
    font-family: "Lato", serif;
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.5;
}

.slide-content button {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: #2bbef9;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 1%;
}

.owl-dots span {
    width: 20px !important;
    height: 20px !important;
}

.owl-dots button {
    border: none !important;
    outline: none !important;
}


.owl-nav button {
    border: none !important;
    outline: none !important;
}


.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff !important;
    font-size: 60px !important;
    font-weight: bolder !important;
}

.owl-prev {
    left: 1%;
}

.owl-next {
    right: 1%;
}

/* SLIDER END */



/* CATEGORY IMAGE LIST */

.category-image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 5px solid red; */

}

.categories-image-list {
    width: 50%;
    height: 300px;
    /* margin-left: 50%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.flex-item {
    flex: 1 1 80px;
    /* border:  2px solid gray; */
}

.flex-item img {
    width: 80px;
    height: 80px;
}

.flex-item h2 {
    font-size: 15px;
    color: black;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
}

.flex-item h2 {
    font-size: 15px;

}

.categories-image {
    width: 30%;
    height: 300px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    /* border: 1px solid gray; */
}

.category-image {
    padding: 15px 100px;

}

.category-image img {
    width: 192px;
    height: 192px;
}

.category-image h2 {
    font-size: 15px;
    color: black;
    z-index: 1;
    margin-left: 20%;
}

.category-image p {
    font-size: 15px;
    padding: 8px;
    margin-left: 20%;

}

/* CATEGORY IMAGE LIST END */


/* PRODUCT LIST START */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 350px;
    height: 744px;
    border: 3px solid red;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.li {
    list-style-type: none;
}

.start-list {
    padding-left: 0;

}

.icon-star {
    display: inline-block;
    color: yellow;
}

.piece {
    display: flex;
}

.piece p {
    color: red;
}

.piece del {
    opacity: 0.3;
}


#timer {
    display: flex;
    font-size: 1.25em;
    font-weight: 10;
    color: white;
    /* padding: 15px; */
    width: px;
    color: white;

}

.date p {
    opacity: 0.3;
    text-align: start;
    font-size: 15px;
}

#timer div {
    display: inline-block;
    width: 20%;
    padding: 15px;
    background: red;
    border-radius: 10px;
    /* border: 2px solid #030d52; */
    margin: 15px;
}

#timer div span {
    color: #ffffff;
    display: block;
    margin-top: 15px;
    font-size: .35em;
    font-weight: 400;
}

.wrapper {
    width: 330px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    margin-bottom: 5px;
}

.skill {
    margin-bottom: 35px;
    position: relative;
    overflow-x: hidden;

}

.skill>p {
    font-size: 18px;
    font-weight: 700;
    color: #1a1716;
    margin: 0;
}

.skill:before {
    width: 100%;
    height: 10px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}

.skill-bar {
    width: 100%;
    height: 10px;
    background: #f4392f;
    display: block;
    position: relative;
}

.skill-bar span {
    position: absolute;
    border-top: 5px solid #f4392f;
    top: -30px;
    padding: 0;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}

.skill-bar {
    position: relative;
}

.skill1 .skill-count1 {
    right: 0;
}

.skill1 {
    width: 95%;
}

.date-text {
    font-size: 20px;
}

.date-text p {
    color: #2bbef9;
}

.date-text strong {
    color: blue;
}



.containers {
    width: 780px;
    height: 797px;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.containers .product-card {
    width: 250px;
    height: 380px;
    overflow: hidden;
    text-align: center;
    border: 1px solid gray;

}

.containers .product-card .product-image {
    width: 230px;
    margin: 20px auto;
}

.containers .product-card .product-image img {
    width: 100%;
    transition: 0.4s;
}

.containers .product-card .product-image img:hover {
    transform: scale(1.1);

}

.containers .product-card .product-info h4 {
    font-size: 18px;
    padding: 0px 25px;
    margin-bottom: 10px;
}

.containers .product-card .product-button {
    width: 100%;
}

.containers .product-card .btn-product {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: 1px solid gray;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0 0 15px 15px;


}

.product-list-card {

    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;

}

/* PRODUCT LIST END */


/* BANNER START */

.banner{
    display: flex;
    padding: 20px;
    /* flex-wrap: wrap; */
}

.banner-image-1 {
    position: relative;
    text-align: start;
    color: black;
    width: 570px;
    height: 251px;
    margin-left: 8%;

}

.image-text {
    position: absolute;
    top: 30%;
    left: 16px;
}

.image-text-1{
    color: red;
    cursor: pointer;
    
}

.image-text-2{
    text-align: start;
  cursor: pointer;
}

.image-text-3{
    cursor: pointer;
}

.banner-button-1{
    background-color: #007bff;
    color: white;
    padding: 5px;
    width: 100px;
    border: none;
    cursor: pointer;
}

.banner-button-1 {border-radius: 90px;}

.banner-image-2 {
    position: relative;
    text-align: start;
    color: black;
    width: 570px;
    height: 251px;
    margin-left: 8%;

}

.images-text {
    position: absolute;
    top: 30%;
    left: 16px;
}

.images-text-1{
    color: red;
    cursor: pointer;
    
}

.images-text-2{
    text-align: start;
  cursor: pointer;
}

.images-text-3{
    cursor: pointer;
}

.banners-button-1{
    background-color: rgb(219, 90, 112);
    color: white;
    padding: 5px;
    width: 100px;
    border: none;
    cursor: pointer;
}

.banners-button-1 {border-radius: 90px;}


/* BANNER END */